@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #c0bdc3;
}

main {
  width: 80%;
  margin: 3rem 10%;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 85rem;
}

@media (min-width: 768px) {
  #dashboard {
    flex-direction: row;
  }
}

#traffic {
  display: block;
  width: 15rem;
}

p {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  color: #4f4b53;
}

#chart {
  height: 10rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #76737a;
}

#chart div {
  flex: 1;
  background: linear-gradient(to bottom, #36166f, #ca19a4);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (min-width: 768px) {
  #traffic {
    width: 20rem;
  }
}

#status {
  display: block;
  width: 15rem;
}

.status p:first-of-type {
  font-weight: bold;
  animation: pulse 2s infinite;
  margin: 0 0 0.5rem 0;
  font-size: 1.15rem;
}

.status-online p:first-of-type {
  color: #6a3cb0;
}

.status-offline p:first-of-type {
  color: #b22084;
}

.status-unknown p:first-of-type {
  color: grey;
}

p:last-of-type {
  margin: 0;
  color: #625e67;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.dashboard-item {
  display: block;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-item header {
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard-item header img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #504e50;
}

@media (min-width: 768px) {
  .dashboard-item {
    padding: 2rem;
  }
}
